.links-row > a {
    margin: 0px 3px;
}

#profile-pic {
    border-radius: 50%;
    height: 100%;
}

.card {
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.1);
}
.card-header > * {
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    list-style-type: disc;
    padding-left: 0.5em;
    margin-left: 1em;
}

.project {
    float: left;
}

#confetti-counter {
    background: #2196f3;
    color: #fff;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}