.card {
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.1);
}
.card-header > * {
    margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 1.2em;
  text-indent: -1.4em;
}


.project {
    float: left;
}
