.links-row > a {
    margin: 0px 3px;
}

#profile-pic {
    border-radius: 50%;
    height: 100%;
}

.accordion-item {
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transition: color 0.4s, background-color 0.4s, border-color 0.4s, box-shadow 0.4s;
}

.card {
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.1);
}
.card-header > * {
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    list-style-type: disc;
    padding-left: 0.5em;
    margin-left: 1em;
}

.project {
    float: left;
}

#confetti-counter {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}